@import url("https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 15px; }

body {
  line-height: 1.4; }

.container {
  width: 100%;
  overflow: hidden;
  display: grid;
  grid-template-rows: 100vh auto auto;
  grid-template-columns: 10vw 80vw 10vw;
  grid-template-areas: "header header header" ". main ." "footer footer footer"; }
  @media (max-width: 500px) {
    .container {
      grid-template-rows: 100vh auto auto;
      grid-template-columns: 100%;
      grid-template-areas: "header" "main" "footer"; } }
  .container #header {
    grid-area: header;
    background-image: url(../images/desktop/image-hero.jpg);
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; }
    @media (max-width: 768px) {
      .container #header {
        background-image: url(../images/mobile/image-hero.jpg);
        background-size: cover;
        background-position: center;
        background-attachment: fixed; } }
    .container #header .hamburger {
      position: relative;
      height: 2em;
      width: 2em;
      z-index: 4;
      cursor: pointer;
      display: block; }
      @media (min-width: 768px) {
        .container #header .hamburger {
          display: none; } }
      .container #header .hamburger::before {
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url(../images/icon-hamburger.svg);
        background-repeat: no-repeat;
        background-size: contain;
        transition: .5s ease; }
      .container #header .hamburger::after {
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        background-image: url(../images/icon-close.svg);
        background-repeat: no-repeat;
        background-size: contain;
        transition: .5s ease; }
      .container #header .hamburger.active::before {
        opacity: 0; }
      .container #header .hamburger.active::after {
        opacity: 1; }
    .container #header .navbar {
      display: flex;
      justify-content: space-between;
      padding: 5vh 10vw;
      height: 10vh;
      top: 0;
      width: 100vw;
      z-index: 10; }
      .container #header .navbar .logo {
        z-index: 5; }
        @media (max-width: 768px) {
          .container #header .navbar .logo img {
            width: 85%; } }
      .container #header .navbar .mobile-list {
        position: fixed;
        min-height: 100vh;
        min-width: 100vw;
        background-color: #000;
        top: 0;
        left: 100%;
        transition: .5s;
        z-index: 3; }
        @media (min-width: 768px) {
          .container #header .navbar .mobile-list {
            display: none; } }
        .container #header .navbar .mobile-list .mobile-nav-list {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          margin: 0 10vw; }
          .container #header .navbar .mobile-list .mobile-nav-list li {
            list-style: none;
            padding: 1em 0; }
            .container #header .navbar .mobile-list .mobile-nav-list li a {
              font-family: "Josefin Sans", sans-serif;
              color: #fffa;
              font-size: 1.5em;
              font-weight: 500;
              letter-spacing: .1em;
              text-transform: uppercase;
              text-decoration: none; }
        .container #header .navbar .mobile-list.active {
          left: 0%; }
      .container #header .navbar .nav-list {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding: 1em; }
        @media (max-width: 768px) {
          .container #header .navbar .nav-list {
            display: none; } }
        .container #header .navbar .nav-list li {
          margin: 0 .5em;
          list-style: none;
          color: white;
          font-family: "Josefin Sans", sans-serif;
          text-transform: capitalize;
          padding: .5em;
          transition: .2s; }
          .container #header .navbar .nav-list li a {
            color: white;
            font-weight: 600;
            margin: .4em auto;
            text-decoration: none;
            display: block;
            position: relative;
            transition: .2s; }
            .container #header .navbar .nav-list li a::before {
              content: '';
              position: absolute;
              bottom: -.5em;
              width: 50%;
              left: 50%;
              transform: translateX(-50%) translateY(0.5em);
              height: 2px;
              background-color: white;
              transition: .2s ease;
              opacity: 0; }
            .container #header .navbar .nav-list li a:hover {
              transform: scale(1.25); }
              .container #header .navbar .nav-list li a:hover::before {
                opacity: 1;
                transform: translateX(-50%) translateY(-100%); }
    .container #header .hero {
      border: 3px solid white;
      width: 45%;
      padding: 3em;
      backdrop-filter: blur(5px);
      -webkit-backdrop-filter: blur(5px); }
      .container #header .hero h1 {
        font-family: "Josefin Sans", sans-serif;
        text-transform: uppercase;
        color: #fff;
        font-size: 3.5em;
        font-weight: 500;
        letter-spacing: .2em;
        line-height: 1.2; }
      @media (min-width: 1200px) {
        .container #header .hero {
          position: relative;
          top: 25vh;
          left: 10vw; } }
      @media (max-width: 1200px) {
        .container #header .hero {
          display: grid;
          place-items: center;
          width: auto;
          position: relative;
          top: 35%;
          transform: translateY(-50%);
          margin: 1.5em;
          padding: 2em; }
          .container #header .hero.hero h1 {
            font-size: 2em; } }
      @media (max-width: 360px) {
        .container #header .hero.hero h1 {
          font-size: 1.8em; } }
  .container #main {
    grid-area: main; }
    .container #main #about {
      margin: 0vh 0 15vh;
      height: 100vh;
      position: relative;
      overflow: hidden; }
      @media (max-width: 330px) {
        .container #main #about {
          display: none; } }
      @media (max-width: 768px) {
        .container #main #about {
          display: flex;
          flex-direction: column;
          justify-content: space-evenly;
          margin: 0 5vh; }
          .container #main #about#about .mobile-img {
            position: relative; }
          .container #main #about#about article {
            position: relative;
            width: 100%;
            height: auto;
            text-align: center;
            padding: 1em 0em; } }
    @media (max-width: 768px) and (max-width: 320px) {
      .container #main #about#about article {
        padding: 1em 0em; } }
      @media (max-width: 768px) {
            .container #main #about#about article h1 {
              font-size: 2em;
              padding: 0 .1em; } }
      @media (max-width: 768px) and (max-width: 320px) {
        .container #main #about#about article h1 {
          font-size: 1.5em; } }
      @media (max-width: 768px) {
            .container #main #about#about article p {
              padding: 1em .5em; } }
      @media (max-width: 768px) and (max-width: 320px) {
        .container #main #about#about article p {
          font-size: 1em; } }
      .container #main #about article {
        position: absolute;
        right: 0;
        width: 50%;
        height: 50%;
        bottom: 0;
        background-color: white;
        padding: 4em 0 0 4em; }
        .container #main #about article h1 {
          font-family: "Josefin Sans", sans-serif;
          text-transform: uppercase;
          font-size: 3em;
          letter-spacing: .1em; }
        .container #main #about article p {
          font-family: "Alata", sans-serif;
          color: #8c8c8c; }
      @media (min-width: 1024px) {
        .container #main #about {
          margin: 20vh 0;
          height: 65vh; }
          .container #main #about .desktop-img {
            height: 100%;
            width: 65%;
            position: absolute;
            bottom: 0;
            overflow: hidden; }
            .container #main #about .desktop-img img {
              height: 100%;
              width: 100%; }
          .container #main #about article {
            height: 60%;
            padding: 2em 9vw; }
            .container #main #about article .about-container {
              position: absolute;
              bottom: 0; }
              .container #main #about article .about-container h1 {
                font-size: 3em;
                margin-bottom: .5em;
                line-height: 1.3; }
              .container #main #about article .about-container p {
                line-height: 1.8; } }
    @media (min-width: 769px) {
      .container #main .mobile-img {
        display: none; } }
    @media (max-width: 768px) {
      .container #main .desktop-img {
        display: none; }
      .container #main .mobile-img img {
        width: 100%; } }
    .container #main .main-bottom {
      position: relative;
      padding: 5vh 0; }
      @media (min-width: 1024px) {
        .container #main .main-bottom .mobile-gallery {
          display: none; }
        .container #main .main-bottom button {
          position: absolute;
          right: 0;
          top: 0;
          letter-spacing: .3em;
          padding: 1em 3em; }
        .container #main .main-bottom .main-header {
          position: absolute;
          top: 0;
          left: 0;
          font-size: 1.5em; }
        .container #main .main-bottom .desktop-gallery {
          margin: 15vh 0;
          display: grid;
          gap: 1em;
          grid-template-columns: 1fr 1fr 1fr 1fr; }
          .container #main .main-bottom .desktop-gallery figure img {
            width: 100%; }
          .container #main .main-bottom .desktop-gallery figure figcaption {
            font-size: 2em;
            bottom: 1em;
            left: 1em;
            width: 60%; } }
      @media (max-width: 1024px) {
        .container #main .main-bottom {
          margin: 0 0 10vh;
          padding: 0 5vw; }
          .container #main .main-bottom .desktop-gallery {
            display: none; }
          .container #main .main-bottom button {
            display: block;
            margin: 2em auto;
            padding: 1em 3em;
            position: relative; }
          .container #main .main-bottom .main-header {
            position: relative;
            font-size: 1em;
            text-align: center;
            margin: 5vh 0 10vh; }
          .container #main .main-bottom .mobile-gallery {
            display: grid;
            gap: 2em; }
            .container #main .main-bottom .mobile-gallery figure img {
              width: 100%; }
            .container #main .main-bottom .mobile-gallery figure figcaption {
              font-size: 1.7em;
              bottom: 1em;
              left: .5em;
              line-height: 1.1;
              width: 45%; } }
      .container #main .main-bottom button {
        font-family: "Alata", sans-serif;
        font-weight: 600;
        border-radius: 4px;
        text-transform: uppercase;
        letter-spacing: .3em;
        background-color: white;
        transition: .2s ease;
        cursor: pointer;
        border: none;
        outline: none; }
        .container #main .main-bottom button::before {
          position: absolute;
          content: '';
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          border-radius: 3px;
          box-shadow: inset 2px 2px 5px #ddda, inset -2px -2px 5px #000; }
        .container #main .main-bottom button:hover {
          background-color: black;
          color: white; }
        .container #main .main-bottom button:active {
          transition: .2s;
          transform: scale(0.9); }
      .container #main .main-bottom .main-header h1 {
        font-size: 2em;
        text-transform: uppercase;
        font-family: "Josefin Sans", sans-serif;
        font-weight: 600; }
      .container #main .main-bottom figure {
        position: relative;
        transition: .3s;
        cursor: pointer;
        overflow: hidden; }
        .container #main .main-bottom figure figcaption {
          font-family: "Josefin Sans", sans-serif;
          position: absolute;
          color: white;
          font-weight: 500;
          text-transform: uppercase;
          transition: .5s;
          line-height: 1.1;
          z-index: 4; }
        .container #main .main-bottom figure::before {
          position: absolute;
          content: '';
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          z-index: 3;
          background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.573) 1%, transparent);
          transition: 1s; }
        .container #main .main-bottom figure::after {
          position: absolute;
          content: '';
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          opacity: 0;
          z-index: 3;
          background: #fffa;
          transition: 1s; }
        .container #main .main-bottom figure:hover img {
          transition: .5s;
          transform: scale(1.05);
          transform-origin: right; }
        .container #main .main-bottom figure:hover figcaption {
          color: black; }
        .container #main .main-bottom figure:hover::before {
          opacity: 0; }
        .container #main .main-bottom figure:hover::after {
          opacity: 1; }
  .container #footer {
    grid-area: footer;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5vh 0;
    font-family: "Josefin Sans", sans-serif;
    text-transform: capitalize; }
    @media (max-width: 1024px) {
      .container #footer {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: #8c8c8c;
        padding: 5vh; }
        .container #footer .footer-logo {
          margin: 1.5em auto; }
        .container #footer#footer .brand-links {
          margin: .5em auto;
          text-align: center;
          color: white; }
          .container #footer#footer .brand-links li {
            margin-bottom: 1.5em;
            list-style: none; }
            .container #footer#footer .brand-links li p {
              position: relative; }
              .container #footer#footer .brand-links li p::after {
                position: absolute;
                content: '';
                bottom: -.2em;
                left: 50%;
                transform: translateX(-50%) translateY(1em);
                width: 10%;
                height: 3px;
                opacity: 0;
                background-color: #fffa;
                transition: .3s; }
            .container #footer#footer .brand-links li:hover {
              transition: .2s;
              transform: scale(1.18); }
              .container #footer#footer .brand-links li:hover p::after {
                opacity: 1;
                transform: translateX(-50%) translateY(0); }
        .container #footer .social-links ul {
          display: flex;
          justify-content: space-evenly;
          align-items: center;
          margin: 1em auto 1.5em; }
          .container #footer .social-links ul li {
            list-style: none;
            position: relative; }
            .container #footer .social-links ul li::before {
              position: absolute;
              content: '';
              width: 100%;
              height: 3px;
              bottom: -.3em;
              opacity: 0;
              background-color: #fffa;
              transform: translateY(1em);
              transition: .2s; }
            .container #footer .social-links ul li:hover {
              transition: .3s;
              transform: scale(1.3); }
              .container #footer .social-links ul li:hover::before {
                opacity: 1;
                transform: translateY(0); }
        .container #footer .social-links p {
          text-align: center; }
          .container #footer .social-links p a {
            color: white; } }
    @media (min-width: 767px) {
      .container #footer {
        color: white;
        padding: 5vh 10vw; }
        .container #footer .brand-links {
          display: grid; }
          .container #footer .brand-links ul {
            display: flex;
            justify-content: space-between;
            margin: .5em auto; }
            .container #footer .brand-links ul li {
              list-style: none;
              margin: .5em 2em .5em 0;
              cursor: pointer;
              position: relative; }
              .container #footer .brand-links ul li::before {
                content: '';
                position: absolute;
                bottom: -.5em;
                width: 50%;
                left: 50%;
                transform: translateX(-50%) translateY(0.5em);
                height: 2px;
                background-color: #fffa;
                transition: .3s ease;
                opacity: 0; }
              .container #footer .brand-links ul li:hover {
                transition: .4s;
                transform: scale(1.15); }
                .container #footer .brand-links ul li:hover::before {
                  opacity: 1;
                  transform: translateX(-50%) translateY(-100%); }
        .container #footer .social-links {
          display: grid; }
          .container #footer .social-links ul {
            display: flex;
            justify-content: flex-end;
            align-items: center; }
            .container #footer .social-links ul li {
              list-style: none;
              margin: 1em 0 1em 1em;
              position: relative;
              cursor: pointer; }
              .container #footer .social-links ul li::before {
                content: '';
                position: absolute;
                bottom: -.2em;
                width: 100%;
                left: 50%;
                transform: translateX(-50%) translateY(0.5em);
                height: 2px;
                background-color: white;
                transition: .2s ease;
                opacity: 0; }
              .container #footer .social-links ul li:hover {
                transition: .3s;
                transform: scale(1.2); }
                .container #footer .social-links ul li:hover::before {
                  opacity: 1;
                  transform: translateX(-50%) translateY(-100%); }
          .container #footer .social-links p {
            display: flex;
            justify-content: flex-end;
            color: #8c8c8c; }
            .container #footer .social-links p a {
              color: white; } }
