@import url('https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&display=swap');

$font-josefin: 'Josefin Sans', sans-serif;
$font-alata: 'Alata', sans-serif;

$white:hsl(0, 0%, 100%);
$white-trans:#fffa;
$black:hsl(0, 0%, 0%);
$gray: hsl(0, 0%, 55%);
$very-dark-grey:hsl(0, 0%, 41%);

