@import 'variables';
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 15px;
}

body {
    line-height: 1.4;
}

.container {
    width: 100%;
    overflow: hidden;
    display: grid;
    grid-template-rows: 100vh auto auto;
    grid-template-columns: 10vw 80vw 10vw;
    grid-template-areas: "header header header"
                        ". main ."
                        "footer footer footer";
    @media (max-width: 500px){
        grid-template-rows: 100vh auto auto;
        grid-template-columns: 100%;
        grid-template-areas: "header"
                                "main"
                                "footer";
    }
// header
    #header {
        grid-area: header;
        background-image: url(../images/desktop/image-hero.jpg);
        background-position: top;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        @media (max-width: 768px) {
            background-image: url(../images/mobile/image-hero.jpg);
            background-size: cover;
            background-position: center;
            background-attachment: fixed;
        }
        .hamburger {
            @media (min-width: 768px){
                display: none;
                }
            position: relative;
            height: 2em;
            width: 2em;
            z-index: 4;
            // hamburger logo and close logo
            &::before {
                position: absolute;
                content: '';
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-image: url(../images/icon-hamburger.svg);
                background-repeat: no-repeat;
                background-size: contain;
                transition: .3s;
            }
            &::after {
                position: absolute;
                content: '';
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                opacity: 0;
                background-image: url(../images/icon-close.svg);
                background-repeat: no-repeat;
                background-size: contain;
                transition: .3s;
            }
            // open - close transition
            &.active {
                &::before {opacity: 0;}
                &::after {opacity: 1;}
            }
            // end of open - close transition
            // end of hamburger logo and close logo

        }
        .navbar {
            // background: rgb(107, 2, 107);
            display: flex;
            justify-content: space-between;
            padding: 5vh 10vw;
            height: 10vh;
            top: 0;
            width: 100vw;
            // position: fixed;
            // background: purple;
            z-index: 10;
            .logo {
                z-index: 5;
                // logo on mobile screen
                @media (max-width: 768px){
                    img {
                        width: 85%;
                    }
                }
                // end of logo on mobile screen
            }
            // mobile nav style
            // hide mobile nav on desktops
            .mobile-list {
                @media (min-width: 768px){
                    display: none
                }
            // hide mobile nav on desktops

                position: fixed;
                min-height: 100vh;
                min-width: 100vw;
                background-color: #000;
                top: 0;
                left: 100%;
                transition: .3s;
                z-index: 3;
                // nav list items
                .mobile-nav-list {
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    margin: 0 10vw;

                    li {
                        list-style: none;
                        padding: 1em 0;

                        a {
                            font-family: $font-sans;
                            color: $white-trans;
                            font-size: 1.5em;
                            font-weight: 500;
                            letter-spacing: .1em;
                            text-transform: uppercase;
                            text-decoration: none;
                        }

                        //end of nav list items
                    }
                }
                &.active {
                    left: 0%;
                }
            }
            // end of mobile nav style
            .nav-list {
                // hide desktop navlist on mobile screens
                @media (max-width: 600px){
                    display: none;
                }
                // hide desktop navlist on mobile screens
                
                // border: 1px solid #fff;
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                padding: 1em;
                
                li {
                    margin: 0 .5em;
                    list-style: none;
                    color: $white;
                    font-family: $font-sans;
                    text-transform: capitalize;

                    a {
                        color: $white;
                        font-weight: 600;
                        margin: .4em auto;
                        text-decoration: none;
                        position: relative;
                        // links underline and hover
                        &::before {
                            content:'';
                            position: absolute;
                            bottom: -.5em;
                            width: 50%;
                            left: 50%;
                            transform: translateX(-50%);
                            height: 2px;
                            background-color: $white;
                            transition: .2s ease;
                            opacity: 0;
                        }
                        &:hover {
                            &::before {
                                opacity: 1;
                                transform: translateX(-50%) translateY(-100%);
                            }
                        }
                        // end of links underline and hover
                    }
                }
            }
        }

        .hero {
            border: 3px solid white;
            width: 45%;
            padding: 3em ;
            backdrop-filter: blur(4px);
            -webkit-backdrop-filter: blur(4px);
            h1 {
                font-family: $font-sans;
                text-transform: uppercase;
                color: #fff;
                font-size: 3.5em;
                font-weight: 500;
                letter-spacing: .2em;
                line-height: 1.2;
            }
            @media (min-width: 1024px){
                position: relative;
                top: 25vh;
                left: 12vw;

            }
            @media (max-width: 768px) {
                display: grid;
                place-items: center;
                width: auto;
                position: relative;
                top: 35%;
                transform: translateY(-50%);
                margin: 1.5em;
                padding: 2em;

                &.hero h1 {
                    font-size: 2em;
                }
            }
            @media (max-width: 360px){
                &.hero h1 {
                    font-size: 1.8em;
                }
            }
            
            
        }
    }
// end of header
// main
    #main {
        grid-area: main;

        #about {
            margin: 0vh 0 15vh;
            height: 100vh;
            position: relative;
            overflow: hidden;
            @media (max-width: 330px) {
                display: none;
            }
            @media (max-width: 768px){
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                margin: 5vh;
                // border: 1px solid red;
                &#about .mobile-img {
                    position: relative;
                }
                &#about article {
                    position: relative;
                    width: 100%;
                    height: auto;
                    text-align: center;
                    padding: 1em 0em;
                    @media (max-width: 320px) {
                        padding: 1em 0em;
                    }
                    h1 {
                        font-size: 2em;
                        padding: 0 .1em;
                        @media (max-width: 320px) {
                            font-size: 1.5em;
                        }
                    }
                    p {
                        padding: 1em .5em;
                        @media (max-width: 320px) {
                            font-size: 1em;
                        }
                    }
                }
            }

            
            article {
                position: absolute;
                right: 0;
                // border: 1px solid blue;
                width: 50%;
                height: 50%;
                bottom: 0;
                background-color: $white;
                padding: 4em 0 0 4em;


                h1 {
                    font-family: $font-sans;
                    text-transform: uppercase;
                    font-size: 3em;
                    
                    letter-spacing: .1em;
                }
                p {
                    font-family: $font-serif;
                    color: $gray;
                }
            }
            @media (min-width: 1024px) {
                margin: 10vh 0 20vh;
                height: 60vh;
                // background-color: blue;
                .desktop-img {
                    height: 100%;
                    width: 65%;
                    position: absolute;
                    bottom: 0;
                    overflow: hidden;

                    img {
                        height: 100%;
                        width: 100%;

                    }
                }
                article {
                    // background-color: red;
                    height: 60%;
                    .about-container {
                        // background-color: yellow;

                        position: absolute;
                        bottom: 0;
                        h1 {
                            font-size: 2.5em;
                            margin-bottom: 1em;
                        }
                        p {
                            padding-right: 4.5em;
                        }
                    }
                }
            }
        }

        // VR image media query
        @media (min-width: 769px){
            .mobile-img {display: none;}
        }
        @media (max-width: 768px){
            .desktop-img {display: none;}
            .mobile-img {
                img {
                    width: 100%;
                }
            }
        }
        // end of VR image media query

        .main-bottom {
            position: relative;
            padding: 5vh 0;
            // desktop media query
            @media (min-width: 1024px){
                .mobile-gallery {display: none;}
                button {
                    position: absolute;
                    right: 0;
                    top: 0;
                    letter-spacing: .3em;
                    padding: 1em 3em;

                }
                .main-header {
                    position: absolute;
                    top: 0;
                    left: 0;
                    font-size: 1.5em;
                    
                }
                .desktop-gallery {
                    margin: 15vh 0;
                    display: grid;
                    gap: 1em;
                    grid-template-columns: 1fr 1fr 1fr 1fr;
                    
                    figure {
                        img {
                            width: 100%;
                        }
                        figcaption {
                            font-size: 2em;
                            bottom: 1em;
                            left: 1em;
                            width: 60%;
                        }
                    }
                }
            }
            // end of desktop media query
            // mobile media query
            @media (max-width: 768px){
                // border: 1px solid pink;
                margin: 0 0 10vh;
                padding: 0 5vw;
                .desktop-gallery {display: none;}
                button {
                    display: block;
                    margin: 2em auto;
                    padding: 1em 3em;
                    position: relative;
                }
                .main-header {
                    position: relative;
                    font-size: 1em;
                    text-align: center;
                    margin: 5vh 0 10vh;
                }
                .mobile-gallery {
                    display: grid;
                    gap: 2em;
                    figure {
                        img {
                            width: 100%;
                        }
                        figcaption {
                            font-size: 1.7em;
                            bottom: 1em;
                            left: .5em;
                            line-height: 1.1;
                            width: 45%;

                        }
                    }
                }
            }
            // end of mobile media query
            button {
                font-family: $font-serif;
                font-weight: 600;
                border-radius: 4px;
                text-transform: uppercase;
                letter-spacing: .3em;
                background-color: $white;
                transition: .2s ease;
                cursor: pointer;
                border: none;
                outline: none;

                &::before {
                    position: absolute;
                    content: '';
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    border-radius: 3px;
                    box-shadow: inset 2px 2px 5px #ddda,
                                inset -2px -2px 5px #000;
                }

                &:hover {
                    background-color: $black;
                    color: $white;
                }
            }
            .main-header {
                h1 {
                    font-size: 2em;
                    text-transform: uppercase;
                    font-family: $font-sans;
                    font-weight: 600;
                }
            }
            figure {
                position: relative;
                transition: .3s;
                cursor: pointer;
                overflow: hidden;
                figcaption {
                    font-family: $font-sans;
                    position: absolute;
                    color: $white;
                    font-weight: 500;
                    text-transform: uppercase;
                    transition: .5s;
                    line-height: 1.1;
                    z-index: 4;

                }
                &::before {
                    position: absolute;
                    content: '';
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    z-index: 3;
                    background-image: linear-gradient(90deg, #000a 1%, transparent);
                    transition: 1s;
                }
                &::after {
                    position: absolute;
                    content: '';
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    opacity: 0;
                    z-index: 3;
                    background: #fffa;
                    transition: 1s;
                }
                // hover state
                &:hover {
                    img {
                        transition: .5s;
                        transform: scale(1.05);
                        transform-origin: right;
                    }
                    figcaption {
                        color: $black;
                    }
                    &::before {
                        opacity: 0;
                    }
                    &::after {
                        opacity: 1;
                    }
                }
                // end of hover state
            }
        }
    }
// end of main
// footer
    #footer {
        grid-area: footer;
        background-color: $black;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 5vh 0;
        font-family: $font-sans;
        text-transform: capitalize;

        // mobile
        @media (max-width: 768px) {
            flex-direction: column;
            justify-content: center;
            align-items: center;
            color: $gray;
            padding: 5vh;
            .footer-logo {
                margin: 1.5em auto;
            }
            &#footer .brand-links {
                margin: .5em auto;
                text-align: center;
                color: $white;

                li {
                    margin-bottom: 1.5em;
                    list-style: none;

                    &:hover {
                        transition: .2s;
                        transform: scale(1.18);
                    }
                }
            }
            .social-links {

                ul {
                    display: flex;
                    justify-content: space-evenly;
                    align-items: center;
                    margin: .5em auto;

                    li {
                        list-style: none;
                        &:hover {
                            transition: .2s;
                            transform: scale(1.3);
                        }
                    }
                }

                p {
                    text-align: center;

                    a {
                        color: $white;
                    }
                }
            }
        }
        // end of mobile
        // desktop footer
        @media (min-width: 767px){
            color: $white;
            padding: 5vh 10vh;

            .brand-links {
                display: grid;
                ul {
                    display: flex;
                    justify-content: space-between;
                    margin: .5em auto;

                    li {
                        // padding-right: 2em;
                        list-style: none;
                        margin: .5em 2em .5em 0;
                        cursor: pointer;
                        position: relative;
                        // links underline and hover
                        &::before {
                            content:'';
                            position: absolute;
                            bottom: -.5em;
                            width: 50%;
                            left: 50%;
                            transform: translateX(-50%);
                            height: 2px;
                            background-color: $white;
                            transition: .3s ease;
                            opacity: 0;
                        }
                        &:hover {
                            transition: .4s;
                            transform: scale(1.15);
                            &::before {
                                opacity: 1;
                                transform: translateX(-50%) translateY(-100%);
                            }
                        }
                        // end of links underline and hover
                    }
                }
            }

            .social-links {
                display: grid;

                ul {
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;

                    li {
                        list-style:none;
                        margin:  1em;
                        position: relative;
                        cursor: pointer;
                        // links underline and hover
                        &::before {
                            content:'';
                            position: absolute;
                            bottom: -.2em;
                            width: 100%;
                            left: 50%;
                            transform: translateX(-50%);
                            height: 2px;
                            background-color: $white;
                            transition: .2s ease;
                            opacity: 0;
                        }
                        &:hover {
                            transition: .3s;
                            transform: scale(1.2);
                            &::before {
                                opacity: 1;
                                transform: translateX(-50%) translateY(-100%);
                            }
                        }
                        // end of links underline and hover
                    }
                }
                
                p {
                    display: flex;
                    justify-content: flex-end;
                    color: $gray;

                    a {
                        color: $white;
                    }
                }
            }
        }
        // end of desktop footer
    }
// end of footer

}
