@import 'variables';
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 15px;
}

body {
    line-height: 1.6;
}

.container {
    width: 100%;
    overflow: hidden;
    display: grid;
    grid-template-rows: 100vh auto 20vh;
    grid-template-columns: 10vw 80vw 10vw;
    grid-template-areas: "header header header"
                        ". main ."
                        "footer footer footer";
    @media (max-width: 500px){
        grid-template-rows: 100vh auto auto;
        grid-template-columns: 100%;
        grid-template-areas: "header"
                                "main"
                                "footer";
    }
// header
    #header {
        grid-area: header;
        background-image: url(../images/desktop/image-hero.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        @media (max-width: 768px) {
            background-image: url(../images/mobile/image-hero.jpg);
            
        }
        .hamburger {

            z-index: 4;
            @media (min-width: 768px){
            display: none;
            }
        }
        .navbar {
            background: rgba(255, 0, 0, 0.425);
            display: flex;
            justify-content: space-between;
            padding: 2em 10vw;
            height: auto;
            position: fixed;
            top: 0;
            width: 100vw;
            z-index: 2;
            .logo {
                z-index: 3;
            }
            .mobile-nav-list {
                @media (min-width: 768px){
                    display: none
                }
                position: fixed;
                min-height: 100vh;
                min-width: 100vw;
                background-color: #000;
                top: 0;
                left: 100%;

                ul {
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    padding: 2em;
                }
                li {
                    color: $gray;
                    list-style: none;
                    font-size: 2em;
                    text-transform: uppercase;
                    padding: .5em 0;
                }
            }

            .nav-list {
                // hide desktop navlist on mobile screens
                @media (max-width: 600px){
                    display: none;
                }
                // hide desktop navlist on mobile screens
                
                border: 1px solid #fff;
                display: flex;
                justify-content: space-evenly;
                
                li {
                    margin: 0 .5em;
                    list-style: none;
                    color: $white;
                }
            }
        }

        .hero {
            @media (min-width: 1024px){
                position: relative;
                top: 35%;
                left: 10vw;
            }
            @media (max-width: 768px) {
                display: grid;
                place-items: center;
                width: auto;
                position: relative;
                top: 50%;
                transform: translateY(-50%);
                margin: 1.5em;
                padding: 2em;

                &.hero h1 {
                    font-size: 2em;
                }
            }
            
            border: 3px solid white;
            width: 45%;
            
            padding: 2.5em;
            h1 {
                font-family: $font-sans;
                text-transform: uppercase;
                color: #fff;
                font-size: 3.5em;
                letter-spacing: .2em;
            }
        }
    }
// end of header
// main
    #main {
        grid-area: main;
        // background-color: $white;
        .about {
            background-color: red;
            height: 100vh;
            position: relative;
            @media (max-width: 768px){
                display: flex;
                flex-direction: column;
                &.about .mobile-img {
                    position: relative;
                }
                &.about article {
                    position: relative;
                    width: 100%;
                    text-align: center;
                    padding: 1.5em;
                    h1 {
                        font-size: 2em;
                    }
                }
            }

            .desktop-img {
                width: 100%;
                position: absolute;
                bottom: 0;
            }
            article {
                position: absolute;
                right: 0;
                border: 1px solid blue;
                width: 50%;
                height: 50%;
                bottom: 0;
                background-color: $white;
                padding: 4em 0 0 4em;

                h1 {
                    font-family: $font-sans;
                    text-transform: uppercase;
                    font-size: 3em;
                    letter-spacing: .1em;
                }
                p {
                    font-family: $font-serif;
                    color: $gray;
                }
            }

        }

        // VR image media query
        @media (min-width: 1024px){
            .mobile-img {display: none;}
        }
        @media (max-width: 1024px){
            .desktop-img {display: none;}
            
        }
        // end of VR image media query

        .main-bottom {
            // gallery media query
            @media (min-width: 1024px){
                .mobile-gallery {display: none;}
            }
            @media (max-width: 1024px){
                .desktop-gallery {display: none;}
            }
            // gallery media query
            
        }
    }
// end of main
// footer
    #footer {
        grid-area: footer;
        background-color: green;
        display: flex;
        justify-content: space-between;
        align-items: center;

        // mobile
        @media (max-width: 768px) {
            flex-direction: column;
            justify-content: center;
            align-items: center;
            &#footer .brand-links {
                border: 1px solid red;
            }
        }
        // end of mobile
    }
// end of footer

}
