@import 'variables';
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 15px;
    scroll-behavior: smooth;
}

body {
    line-height: 1.4;
}

.container {
    width: 100%;
    overflow: hidden;
    display: grid;
    grid-template-rows: 85vh auto auto;
    grid-template-columns: 10vw 80vw 10vw;
    grid-template-areas: "header header header"
                        ". main ."
                        "footer footer footer";
    @media (max-width: 768px){
        grid-template-rows: 80vh auto auto;
        grid-template-columns: 100%;
        grid-template-areas: "header"
                                "main"
                                "footer";
    }
// header
    #header {
        grid-area: header;
        background-image: url(../images/desktop/image-hero.jpg);
        // background-position: bottom;
        background-size: cover;
        background-repeat: no-repeat;
        // background-position: top center;
        position: relative;
        &::before {
            position: absolute;
            content: '';
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.195);
        }
        
        @media (max-width: 768px) {
            background-image: url(../images/mobile/image-hero.jpg);
            background-position: center left;
            background-size: cover;
            background-repeat: no-repeat;
            &::before {
                display: none;
            }
        }
        // hamburger button
        .hamburger {
            @media (min-width: 1024px){
                display: none;
                }
            position: relative;
            height: 1.5em;
            width: 1.5em;
            z-index: 6;
            cursor: pointer;
            display:block;
            // hamburger logo and close logo
            &::before {
                position: absolute;
                content: '';
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-image: url(../images/icon-hamburger.svg);
                background-repeat: no-repeat;
                background-size: contain;
                transition: .3s ease;
            }
            &::after {
                position: absolute;
                content: '';
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                opacity: 0;
                background-image: url(../images/icon-close.svg);
                background-repeat: no-repeat;
                background-size: contain;
                transition: .3s ease;
            }
            // open - close transition
            &.active {
                &::before {opacity: 0;}
                &::after {opacity: 1;}
            }
            // end of open - close transition
            // end of hamburger logo and close logo

        }
        // end of hamburger menu

        .navbar {
            // background: rgb(107, 2, 107);
            display: flex;
            justify-content: space-between;
            padding: 8vh 10vw;
            height: 10vh;
            top: 0;
            width: 100vw;
            z-index: 10;
            // navbar fixed on mobile
            @media (max-width: 768px) {
                // position: fixed;
                // background: rgb(37, 1, 37);
                padding: 5vh 5vw;
            }
            // end of navbar fixed on mobile
            .logo {
                z-index: 6;
                // logo on mobile screen
                @media (max-width: 768px){
                    img {
                        width: 70%;
                    }
                }
                // end of logo on mobile screen
            }
            // mobile nav style
            // hide mobile nav on desktops
            .mobile-list {
                @media (min-width: 1024px){
                    display: none
                }
            // hide mobile nav on desktops

                position: fixed;
                min-height: 100vh;
                min-width: 100vw;
                background-color: #000;
                top: 0;
                left: 100%;
                transition: .5s;
                z-index: 5;
                // nav list items
                .mobile-nav-list {
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    margin: 0 10vw;

                    li {
                        list-style: none;
                        padding: 1em 0;

                        a {
                            font-family: $font-josefin;
                            color: $gray;
                            font-size: 1.5em;
                            font-weight: 500;
                            letter-spacing: .1em;
                            text-transform: uppercase;
                            text-decoration: none;
                        }

                        //end of nav list items
                    }
                }
                &.active {
                    left: 0%;
                }
            }
            // end of mobile nav style
            .nav-list {
                // hide desktop navlist on mobile screens
                @media (max-width: 768px){
                    display: none;
                }
                // hide desktop navlist on mobile screens
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                padding: 1em 0;
                position: relative;
        // background overlay for contrast
        &::before {
            position: absolute;
            content: '';
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100%;
            // background: rgba(0, 0, 0, 0.203);
            border-radius: 5px;
            transition: .3s;
        }
        // remove overlay on hover
        &:hover {
            &::before {
                opacity: 0;
            }
        }
        // end of remove overlay on hover
        // end of background overlay for contrast
                
                li {
                    margin: 0 .5em;
                    list-style: none;
                    color: $white;
                    text-transform: capitalize;
                    padding: .5em;
                    transition: .2s;
                    
                    
                    a {
                        font-family: $font-alata;
                        color: $white;
                        font-weight: 500;
                        margin: .4em auto;
                        text-decoration: none;
                        display: block;
                        position: relative;
                        transition: .2s;
                        // links underline and hover
                        &::before {
                            content:'';
                            position: absolute;
                            bottom: -.7em;
                            width: 50%;
                            left: 50%;
                            transform: translateX(-50%) translateY(.5em);
                            height: 3px;
                            border-radius: 5px;
                            background-color: $white;
                            transition: .2s ease;
                            opacity: 0;
                        }
                        &:hover {
                            transform: scale(1.25);
                            &::before {
                                opacity: 1;
                                transform: translateX(-50%) translateY(-100%);
                            }
                        }
                        // end of links underline and hover
                    }
                    
                }
            }
        }

        .hero {
            border: 2px solid white;
            width: 45%;
            padding: 3em;
            border-radius: 2px;
            backdrop-filter: blur(2px);
            -webkit-backdrop-filter: blur(2px);
            h1 {
                font-family: $font-josefin;
                text-transform: uppercase;
                color: $white;
                font-size: 4em;
                font-weight: 100;
                letter-spacing: .1em;
                line-height: 1.2;
            }
            @media (min-width: 1024px){
                position: relative;
                top: 12vh;
                left: 12vw;
            }
            @media (max-width: 768px) {
                display: grid;
                place-items: center;
                width: auto;
                position: relative;
                top: 37%;
                transform: translateY(-50%);
                margin: 1.5em 5vw;
                padding: 1.5em 1em;

                &.hero h1 {
                    font-size: 2.5em;
                }
            }
            @media (max-width: 360px){
                &.hero h1 {
                    font-size: 1.8em;
                }
            }
            
            
        }
    }
// end of header
// main
    #main {
        grid-area: main;
        margin: 20vh 0 10vh;

        #about {
            margin: 0vh 0 15vh;
            height: 100vh;
            position: relative;
            overflow: hidden;
            @media (max-width: 330px) {
                display: none;
            }
            @media (max-width: 768px){
                display: flex;
                flex-direction: column;
                justify-content: center;
                height: auto;
                margin: 0 5vw 10vh;
                // border: 1px solid red;
                &#about .mobile-img {
                    position: relative;
                }
                &#about article {
                    position: relative;
                    width: 100%;
                    height: auto;
                    text-align: center;
                    padding: 1em 0em;
                    @media (max-width: 320px) {
                        padding: 1em 0em;
                    }
                    h1 {
                        font-size: 2em;
                        padding: 0 .1em;
                        @media (max-width: 320px) {
                            font-size: 1.5em;
                        }
                    }
                    p {
                        padding: 1em 1.5em;
                        @media (max-width: 320px) {
                            font-size: 1em;
                        }
                    }
                }
            }

            
            article {
                position: absolute;
                right: 0;
                // border: 1px solid blue;
                width: 50%;
                height: 50%;
                bottom: 0;
                background-color: $white;
                padding: 4em 0 0 4em;


                h1 {
                    font-family: $font-josefin;
                    text-transform: uppercase;
                    font-size: 3em;
                    letter-spacing: .05em;
                }
                p {
                    font-family: $font-alata;
                    color: $gray;
                    font-weight: 500;
                }
            }
            @media (min-width: 1024px) {
                margin: 0 0 10vh;
                height: 65vh;
                // background-color: blue;
                .desktop-img {
                    height: 100%;
                    width: 65%;
                    position: absolute;
                    bottom: 0;
                    overflow: hidden;

                    img {
                        height: 100%;
                        width: 100%;

                    }
                }
                article {
                    // background-color: red;
                    height: 60%;
                    padding: 2em 9vw;
                    .about-container {
                        // background-color: yellow;
                        // padding: 5em;
                        position: absolute;
                        bottom: 0;
                        h1 {
                            font-size: 3em;
                            margin-bottom: .5em;
                            line-height: 1.3;
                        }
                        p {
                            // padding-right: 4.5em;
                            line-height: 1.8;
                        }
                    }
                }
            }
        }

        // VR image media query
        @media (min-width: 769px){
            .mobile-img {display: none;}
        }
        @media (max-width: 768px){
            .desktop-img {display: none;}
            .mobile-img {
                overflow: hidden;
                border: 1px solid $white;
                margin-bottom: 5vh;
                img {
                    width: 100%;
                    height: 100%;
                    animation: zoom 10s infinite;

                    @keyframes zoom {
                        50% {
                            transform: scale(1.1);
                            transform-origin: left;
                        }
                    }
                }
            }
        }
        // end of VR image media query

        .main-bottom {
            position: relative;
            padding: 5vh 0;
            // desktop media query
            @media (min-width: 1024px){
                .mobile-gallery {display: none;}
                button {
                    position: absolute;
                    right: 0;
                    top: 0;
                    letter-spacing: .3em;
                    padding: 1em 3em;

                }
                .main-header {
                    position: absolute;
                    top: 0;
                    left: 0;
                    font-size: 1.5em;
                    
                }
                .desktop-gallery {
                    margin: 15vh 0;
                    display: grid;
                    gap: 1em;
                    grid-template-columns: 1fr 1fr 1fr 1fr;
                    
                    figure {
                        img {
                            width: 100%;
                        }
                        figcaption {
                            font-size: 2em;
                            bottom: 1.5em;
                            left: 1.5em;
                            max-width: 60%;
                        }
                        
                    }
                }
            }
            // end of desktop media query
            // mobile media query
            @media (max-width: 1024px){
                // border: 1px solid pink;
                margin: 0 0 10vh;
                padding: 0 5vw;
                .desktop-gallery {display: none;}
                button {
                    display: block;
                    margin: 2em auto;
                    padding: 1em 3em;
                    position: relative;
                }
                .main-header {
                    position: relative;
                    font-size: 1em;
                    text-align: center;
                    margin: 0 0 5vh 0;
                }
                .mobile-gallery {
                    display: grid;
                    gap: 2em;
                    figure {
                        border-radius: 3px;
                        
                        figcaption {
                            font-size: 1.8em;
                            bottom: .5em;
                            left: .5em;
                            line-height: 1.1;
                            width: 45%;
                            span {
                                font-size: inherit;
                            }
                        }
                    }
                }
            }
            // end of mobile media query
            button {
                font-family: $font-alata;
                font-weight: 600;
                border-radius: 4px;
                text-transform: uppercase;
                letter-spacing: .3em;
                background-color: $white;
                transition: .2s ease;
                cursor: pointer;
                border: none;
                outline: none;

                &::before {
                    position: absolute;
                    content: '';
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    border-radius: 3px;
                    box-shadow: inset 3px 3px 5px #ddda,
                                inset -2px -2px 5px #000;
                }

                &:hover {
                    background-color: $black;
                    color: $white;
                }
                &:active {
                    letter-spacing: .1em;
                    transition: .2s;
                    transform: scale(.9);
                }
            }
            .main-header {
                h1 {
                    font-size: 2em;
                    text-transform: uppercase;
                    font-family: $font-josefin;
                    font-weight: 600;
                }
            }
            figure {
                position: relative;
                transition: .3s;
                cursor: pointer;
                overflow: hidden;
                border-radius: 3px;
                img {
                    width: 100%;
                    height: 100%;
                }
                figcaption {
                    font-family: $font-josefin;
                    position: absolute;
                    color: $white;
                    font-weight: 500;
                    text-transform: uppercase;
                    letter-spacing: .05em;
                    transition: .5s;
                    line-height: 1.1;
                    z-index: 4;
                    // 'the grid' 
                    span {
                        display: block;
                        font-size: 1em;
                    }
                    // end of 'the grid' 
                }
                &::before {
                    position: absolute;
                    content: '';
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    z-index: 3;
                    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.473) 15% , transparent);
                    @media (max-width: 768px) {
                    background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.473) 15% , transparent);

                    }
                    transition: 1s;
                }
                &::after {
                    position: absolute;
                    content: '';
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    opacity: 0;
                    z-index: 3;
                    background: #fffa;
                    transition: 1s;
                }
                // hover state
                &:hover {
                    img {
                        transition: .5s;
                        transform: scale(1.05);
                        transform-origin: right;
                    }
                    figcaption {
                        color: $black;
                    }
                    &::before {
                        opacity: 0;
                    }
                    &::after {
                        opacity: 1;
                    }
                }
                // end of hover state
            }
        }
    }
// end of main
// footer
    #footer {
        grid-area: footer;
        background-color: $black;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0;
        font-family: $font-josefin;
        text-transform: capitalize;

        // mobile
        @media (max-width: 1024px) {
            flex-direction: column;
            justify-content: center;
            align-items: center;
            color: $gray;
            padding: 5vh;
            .footer-logo {
                margin: 1.5em auto;
            }
            &#footer .brand-links {
                margin: .5em auto;
                text-align: center;
                color: $white;

                li {
                    margin-bottom: 1.5em;
                    list-style: none;

                    p {
                        position: relative;
                        &::after {
                            position: absolute;
                            content: '';
                            bottom: -.2em;
                            left: 50%;
                            transform: translateX(-50%) translateY(1em);
                            width: 10%;
                            height: 3px;
                            opacity: 0;
                            background-color: $white-trans;
                            transition: .3s;
                        }
                    }

                    &:hover {
                        transition: .2s;
                        transform: scale(1.18);

                        p {
                            &::after {
                                opacity: 1;
                                transform: translateX(-50%) translateY(0);
                            }
                        }
                    }
                    // brand links hover state

                }
            }
            .social-links {

                ul {
                    display: flex;
                    justify-content: space-evenly;
                    align-items: center;
                    margin: 1em auto 1.5em;
                    // footer social icons
                    li {
                        list-style: none;
                        position: relative;
                        
                        &::before {
                            position: absolute;
                            content: '';
                            width: 100%;
                            height: 3px;
                            bottom: -.3em;
                            opacity: 0;
                            background-color: $white-trans;
                            transform: translateY(1em);
                            transition: .2s;
                        }
                        
                        // footer social icon hover state
                        &:hover {
                            transition: .3s;
                            transform: scale(1.3);
                            &::before {
                                opacity: 1;
                                transform: translateY(0);
                            }
                        }
                        // end of footer social icon hover state
                    }
                    // end of footer social icons

                }

                p {
                    text-align: center;
                    margin-bottom: .3em;
                    a {
                        color: $white;
                        text-decoration: none;
                        position: relative;

                        &::before {
                            position: absolute;
                            content: '';
                            bottom: 0;
                            left: 50%;
                            transform: translateX(-50%) translateY(.5em);
                            width: 50%;
                            height: 2px;
                            background-color:$white-trans;
                            transition: .3s;
                            opacity: 0;

                        }
                        &:hover {
                            &::before {
                                opacity: 1;
                            transform: translateY(0) translateX(-50%);
                            }
                        }
                    }
                }
            }
        }
        // end of mobile
        // desktop footer
        @media (min-width: 768px){
            color: $white;
            padding: 5vh 10vw;

            .brand-links {
                display: grid;
                ul {
                    display: flex;
                    justify-content: space-between;
                    margin: .5em auto;

                    li {
                        list-style: none;
                        margin: .5em 4em .5em 0;
                        cursor: pointer;
                        position: relative;
                        // links underline and hover
                        &::before {
                            content:'';
                            position: absolute;
                            bottom: -.5em;
                            width: 50%;
                            left: 50%;
                            transform: translateX(-50%) translateY(.5em);
                            height: 2px;
                            background-color: $white;
                            transition: .3s ease;
                            opacity: 0;
                        }
                        &:hover {
                            transition: .4s;
                            transform: scale(1.15);
                            &::before {
                                opacity: 1;
                                transform: translateX(-50%) translateY(-100%);
                            }
                        }
                        // end of links underline and hover
                    }
                }
            }

            .social-links {
                display: grid;

                ul {
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;

                    li {
                        list-style:none;
                        margin: 1em 0 1em 1em;
                        position: relative;
                        cursor: pointer;
                        // links underline and hover
                        &::before {
                            content:'';
                            position: absolute;
                            bottom: -.2em;
                            width: 100%;
                            left: 50%;
                            transform: translateX(-50%) translateY(.5em);
                            height: 2px;
                            background-color: $white;
                            transition: .2s ease;
                            opacity: 0;
                        }
                        &:hover {
                            transition: .3s;
                            transform: scale(1.2);
                            &::before {
                                opacity: 1;
                                transform: translateX(-50%) translateY(-100%);
                            }
                        }
                        // end of links underline and hover
                    }
                }
                
                p {
                    display: flex;
                    justify-content: flex-end;
                    color: $gray;
                    margin-bottom: .3em;

                    a {
                        color: $white;
                        text-decoration: none;
                        position: relative;

                        &::before {
                            content: '';
                            position: absolute;
                            bottom: 0;
                            left: 50%;
                            transform: translateX(-50%) translateY(.5em);
                            width: 50%;
                            height: 1px;
                            background-color: $white;
                            transition: .3s ease;
                            opacity: 0;
                        }
                        &:hover {
                            &::before {
                                opacity: 1;
                                transform: translateX(-50%) translateY(0);
                            }
                        }
                    }
                }
            }
        }
        // end of desktop footer
    }
// end of footer

}
