@use './variables';

#about {
    position: relative;
    margin: 0 5vw 10vh;
    max-width: calc(1440px - 20%);
    // DESKTOP ABOUT SECTION
    @media (min-width: 1024px) {
        margin-inline: auto;
    }

    // IMAGE - SMALL SCREENS = MARGIN BOTTOM AND INLINE AUTO
    img {
        height: 100%;
        margin: 0 auto 2rem;
        @media (min-width: 1024px){
            margin: 0;
        }
    }

    article {
        position: relative;
        width: 100%;
        text-align: center;
        margin: 2rem 0;
        padding: 0 1.5rem;
        // DESKTOP ARTICLE
        @media (min-width: 1024px) {
            position: absolute;
            right: 0;
            width: 49%;
            height: 65%;
            bottom: 0;
            background-color: variables.$white;
            text-align: left;
            padding: 0 6rem;
            margin: 0;
        }

        .title {
            font-family: variables.$font-josefin;
            text-transform: uppercase;
            font-size: 2rem;
            font-size: clamp(2rem, 3vw, 2.5rem);
            font-weight: 400;
            letter-spacing: .05em;
            line-height: 1.1;
            margin-bottom: 1rem;
        }

        .content {
            font-family: variables.$font-alata;
            color: variables.$very-dark-grey;
            line-height: 1.8;
        }

        // ABOUT ARTICLE CONTAINER DESKTOP CONTAINER
        @media (min-width: 1024px) {
            .about-container {
                position: absolute;
                bottom: 0;
            }
        }
    }
}