@use './variables';

// CREATIONS GALLERY SECTION
.gallery {
    position: relative;
    padding: 5vh 5vw 0;
    margin: 10vh 0 5vh;

    @media (min-width: 1044px) {
        padding: 5vh 0;
    }

    .gallery-title {
        text-transform: uppercase;
        font-family: variables.$font-josefin;
        font-weight: 400;
        margin-bottom: 10vh;
        font-size: 2em;
        font-size: clamp(2em, 4vw, 3em);

        // MOBILE GALLERY TITLE 
        @media (max-width: 820px) {
            margin-bottom: 2rem;
            text-align: center;
        }
    }

    .gallery-grid {
        display: grid;
        gap: 1rem;

        // DESKTOP GALLERY GRID 4 COLUMNS
        @media (min-width: 820px) {
            grid-template-columns: repeat(4, 1fr);
            gap: 1.5rem;
        }
    }

}

// GALLERY-ITEM = FIGURE > IMG + FIGCAPTION 
.gallery-item {
    position: relative;
    transition: .25s;
    overflow: hidden;
    border-radius: 3px;
    isolation: isolate;
    // DESKTOP = CURSOR POINER
    @media (min-width: 820px) {
        cursor: pointer;
    }

    img {
        width: 100%;
        height: 100%;
        max-height: 450px;
        z-index: -1;
    }

    figcaption {
        position: absolute;
        font-family: variables.$font-josefin;
        font-weight: 500;
        font-size: 1.5em;
        font-size: clamp(1.5rem, 2vw, 2rem);

        color: variables.$white;
        text-transform: uppercase;
        letter-spacing: .05em;
        line-height: 1.1;

        width: 40%;

        bottom: 1.5rem;
        left: .5em;
        transition: .25s;
        z-index: 5;

        @media (min-width: 820px) {
            // font-size: 2rem;
            bottom: 1em;
            left: 1.5em;
            width: 70%;
        }
    }

    // IMAGE CONTRAST OVERLAY
    &::before {
        position: absolute;
        content: '';
        inset: 0;
        border-radius: inherit;
        z-index: 3;
        transition: .25s;
        background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.473) 15%, transparent);

        // gradient on small screens
        @media (max-width: 820px) {
            background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.473) 15%, transparent);
        }
    }

    // HOVER OVERLAY GREY BG
    &::after {
        position: absolute;
        content: '';
        inset: 0;
        opacity: 0;
        background: #fffa;
        transition: .5s;
        z-index: 3;
    }

    // HOVER STATE - img zoom, gray background and black text
    &:hover {
        img {
            transition: .5s;
            transform: scale(1.05);
            transform-origin: right;
        }

        figcaption {
            color: variables.$black;
        }

        &::before {
            opacity: 0;
        }

        &::after {
            opacity: 1;
        }
    }
}

// 'SEE ALL' BUTTON
.gallery-button {
    display: block;
    margin: 5vh auto 0;
    padding: .8rem .5rem;
    position: relative;
    font-family: variables.$font-alata;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .3em;
    width: 160px;
    // max-width: 50%;
    background-color: transparent;
    border: none;
    border-radius: 3px;
    z-index: 1;
    transition: .25s ease;
    // DESKTOP BUTTON STYLE
    @media (min-width: 1024px) {
        position: absolute;
        right: 0vw;
        top: 0;
        letter-spacing: .3em;
        padding: .8em 3em;
        cursor: pointer;
    }

    // button hover and active state
    &::before,
    &::after {
        position: absolute;
        content: '';
        inset: 0;
        border-radius: inherit;
        border: 1px solid #000;
        z-index: -1;
        transition: .25s ease;
    }

    &::before {
        background-color: variables.$white;
        box-shadow: 0 .5rem .5rem hsla(0, 0%, 0%, .025);
    }

    &::after {
        background-color: variables.$black;
        box-shadow: 0 .25rem .25rem hsla(0, 0%, 0%, .05);
        opacity: 0;
    }

    &:hover {
        color: variables.$white;

        &::after {
            opacity: 1;
        }
    }

    &:active {
        letter-spacing: .25em;
        transition: .25s;
        transform: scale(.97);
    }

}
