@use 'header';
@use 'variables';
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 15px;
    scroll-behavior: smooth;

}
body {
    max-width: 100%;
}

img {
    display: block;
    max-width: 100%;
}

.container {
    // border: 3px solid red;
    width: 100%;
    // overflow: hidden;
    // desktop grid layout 
    display: grid;
    gap: 10vh;
    grid-template-rows: 90vh auto auto;
    grid-template-columns: 5% auto 5%;
    grid-template-areas: "header header header"
                        ". main ."
                        "footer footer footer";
    // end of desktop grid layout 
    // mobile grid layout
    @media (max-width: 1024px){
        gap: 5vh;
        grid-template-rows: 95vh auto auto;
        grid-template-columns: 100%;
        grid-template-areas: "header"
                                "main"
                                "footer";
    }
}


// main
    #main {
        grid-area: main;
        margin: 0vh 0 10vh;
        @media (max-width: 1024px) {
            margin: 10vh 0 5vh;
        }
        // about img and p
        #about {
            position: relative;
            overflow: hidden;
            // interactive vr article
            article {
                position: absolute;
                right: 0;
                width: 50%;
                height: 50%;
                bottom: 0;
                background-color: variables.$white;
                padding: 4em 0 0 4em;

                .title {
                    font-family: variables.$font-josefin;
                    text-transform: uppercase;
                    font-size: 2em;
                    font-weight: 500;
                    letter-spacing: .05em;
                }
                .content {
                    font-family: variables.$font-alata;
                    color: variables.$very-dark-grey;
                }
            }
            // end of interactive vr article

            // small screen
            @media (max-width: 330px) {
                display: none;
            }
            @media (max-width: 1024px){
                display: flex;
                flex-direction: column;
                justify-content: center;
                height: auto;
                margin: 0 5vw 10vh;
                &#about .mobile-img {
                    position: relative;
                }
                &#about article {
                    position: relative;
                    width: 100%;
                    height: auto;
                    text-align: center;
                    padding: 1em 0em;
                    @media (max-width: 320px) {
                        padding: 1em 0em;
                    }
                    .title {
                        font-size: 2em;
                        padding: 0 .1em;
                        @media (max-width: 320px) {
                            font-size: 1.5em;
                        }
                    }
                    .content {
                        padding: 1em 1.5em;
                        @media (max-width: 320px) {
                            font-size: 1em;
                        }
                    }
                }
            }
            // end of small screen
            // desktop about section
            @media (min-width: 1440px) {
                margin: 0 0 10vh;
                height: 60vh;
                .desktop-img {
                    height: 100%;
                    width: 65%;
                    position: absolute;
                    bottom: 0;
                    overflow: hidden;

                    img {
                        height: 100%;
                        width: 100%;
                        object-fit: cover;

                    }
                }
                article {
                    height: 60%;
                    padding: 2em 9vw;
                    .about-container {
                        position: absolute;
                        bottom: 0;
                        .title {
                            font-size: 3em;
                            margin-bottom: .5em;
                            line-height: 1.3;
                        }
                        .content {
                            line-height: 1.8;
                        }
                    }
                }
            }
            // end of desktop about section
        }

        // about img and p
        // VR image media query
        @media (min-width: 1025px){
            .mobile-img {display: none;}
        }
        @media (max-width: 1024px){
            .desktop-img {display: none;}
            .mobile-img {
                overflow: hidden;
                border: 1px solid variables.$white;
                margin-bottom: 5vh;
                img {
                    width: 100%;
                    height: 100%;
                    animation: zoom 10s infinite;

                    @keyframes zoom {
                        50% {
                            transform: scale(1.1);
                            transform-origin: left;
                        }
                    }
                }
            }
        }
        // end of VR image media query
        // creations gallery section
        .main-bottom {
            position: relative;
            padding: 5vh 0 0;
            margin: 20vh 0 5vh;
            // see all button
            button {
                font-family: variables.$font-alata;
                font-weight: 600;
                text-transform: uppercase;
                letter-spacing: .3em;
                transition: .2s ease;
                cursor: pointer;
                background-color: transparent;
                border: none;
                outline: none;
                border-radius: 2px;
                z-index: 1;
                // button hover and active state
                &::before {
                    position: absolute;
                    content: '';
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-color: variables.$white;
                    border: 1px solid #000;
                    outline: none;
                    border-radius: 2px;
                    z-index: -1;
                    transition: .5s ease;
                }
                &::after {
                    position: absolute;
                    content: '';
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-color: variables.$black;
                    border: 1px solid #000;
                    outline: none;
                    border-radius: 2px;
                    opacity: 0;
                    z-index: -1;
                    transition: .5s ease;
                }
                &:hover {
                    color: variables.$white;
                    &::after {
                        opacity: 1;
                    }
                }
                &:active {
                    letter-spacing: .1em;
                    transition: .2s;
                    transform: scale(.95);
                }
                // end of button hover and active state

            }
            // see all button
            .main-header {
                h2 {
                    font-size: 2em;
                    text-transform: uppercase;
                    font-family: variables.$font-josefin;
                    font-weight: 600;
                }
            }
            // general gallery style
            figure {
                position: relative;
                transition: .3s;
                cursor: pointer;
                overflow: hidden;
                border-radius: 3px;
                img {
                    width: 100%;
                    height: 100%;
                }
                figcaption {
                    font-family: variables.$font-josefin;
                    position: absolute;
                    color: variables.$white;
                    font-weight: 500;
                    text-transform: uppercase;
                    letter-spacing: .05em;
                    transition: .5s;
                    line-height: 1.1;
                    z-index: 4;
                    // 'the grid' 
                    span {
                        display: block;
                        font-size: 1em;
                    }
                    // end of 'the grid' 
                }
                // contrast overlay
                &::before {
                    position: absolute;
                    content: '';
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    z-index: 3;
                    transition: 1s;
                    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.473) 15% , transparent);
                    // gradient on small screens
                    @media (max-width: 768px) {
                    background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.473) 15% , transparent);
                    }
                    // end of gradient on small screens
                // end of contrast overlay

                }
                // gray hover overlay
                &::after {
                    position: absolute;
                    content: '';
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    opacity: 0;
                    z-index: 3;
                    background: #fffa;
                    transition: 1s;
                }
                // end of gray hover overlay
                // hover state - img zoom, gray background and black text
                &:hover {
                    img {
                        transition: .5s;
                        transform: scale(1.05);
                        transform-origin: right;
                    }
                    figcaption {
                        color: variables.$black;
                    }
                    &::before {
                        opacity: 0;
                    }
                    &::after {
                        opacity: 1;
                    }
                }
                // end of hover state
            }
            // end of general gallery style

            // desktop media query
            @media (min-width: 1024px){
                .mobile-gallery {display: none;}
                button {
                    position: absolute;
                    right: 0;
                    top: 0;
                    letter-spacing: .3em;
                    padding: .8em 3em;
                }
                .main-header {
                    position: absolute;
                    top: 0;
                    left: 0;
                    font-size: 1.5em;
                    
                }
                .desktop-gallery {
                    margin: 10vh 0;
                    display: grid;
                    gap: 1rem;
                    grid-template-columns: 1fr 1fr 1fr 1fr;
                    
                    figure {
                        img {
                            width: 100%;
                        }
                        figcaption {
                            font-size: 2rem;
                            bottom: 1.5em;
                            left: 1.5em;
                            max-width: 70%;
                        }
                        
                    }
                }
            }
            // end of desktop media query

            // mobile media query
            @media (max-width: 1024px){
                // border: 1px solid pink;
                margin: 0 0 10vh;
                padding: 0 5vw;
                .desktop-gallery {display: none;}
                button {
                    display: block;
                    margin: 2em auto;
                    padding: 1em 3em;
                    position: relative;
                }
                .main-header {
                    position: relative;
                    font-size: 1em;
                    text-align: center;
                    margin: 0 0 5vh 0;
                }
                .mobile-gallery {
                    display: grid;
                    gap: 2em;
                    figure {
                        border-radius: 3px;
                        
                        figcaption {
                            font-size: 1.5em;
                            bottom: .5em;
                            left: .5em;
                            line-height: 1.1;
                            width: 45%;
                            span {
                                font-size: inherit;
                            }
                        }
                    }
                }
            }
            // end of mobile media query
        }
        // end of creations gallery section
    }
// end of main
// footer
    #footer {
        grid-area: footer;
        background-color: variables.$black;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0;
        font-family: variables.$font-josefin;
        text-transform: capitalize;

        // mobile
        @media (max-width: 768px) {
            flex-direction: column;
            justify-content: center;
            align-items: center;
            color: variables.$gray;
            padding: 5vh;
            .footer-logo {
                margin: 1.5em auto;
            }
            &#footer .brand-links {
                margin: .5em auto;
                text-align: center;
                color: variables.$white;

                li {
                    margin-bottom: 1.5em;
                    list-style: none;

                    p {
                        position: relative;
                        &::after {
                            position: absolute;
                            content: '';
                            bottom: -.2em;
                            left: 50%;
                            transform: translateX(-50%) translateY(1em);
                            width: 10%;
                            height: 3px;
                            opacity: 0;
                            background-color: variables.$white-trans;
                            transition: .3s;
                        }
                    }

                    &:hover {
                        transition: .2s;
                        transform: scale(1.18);

                        p {
                            &::after {
                                opacity: 1;
                                transform: translateX(-50%) translateY(0);
                            }
                        }
                    }
                    // brand links hover state

                }
            }
            .social-links {

                ul {
                    display: flex;
                    justify-content: space-evenly;
                    align-items: center;
                    margin: 1em auto 1.5em;
                    // footer social icons
                    li {
                        list-style: none;
                        position: relative;
                        
                        &::before {
                            position: absolute;
                            content: '';
                            width: 100%;
                            height: 3px;
                            bottom: -.3em;
                            opacity: 0;
                            background-color: variables.$white-trans;
                            transform: translateY(1em);
                            transition: .2s;
                        }
                        
                        // footer social icon hover state
                        &:hover {
                            transition: .3s;
                            transform: scale(1.3);
                            &::before {
                                opacity: 1;
                                transform: translateY(0);
                            }
                        }
                        // end of footer social icon hover state
                    }
                    // end of footer social icons

                }

                p {
                    text-align: center;
                    margin-bottom: .3em;
                    a {
                        color: variables.$white;
                        text-decoration: none;
                        position: relative;

                        &::before {
                            position: absolute;
                            content: '';
                            bottom: 0;
                            left: 50%;
                            transform: translateX(-50%) translateY(.5em);
                            width: 50%;
                            height: 2px;
                            background-color:variables.$white-trans;
                            transition: .3s;
                            opacity: 0;

                        }
                        &:hover {
                            &::before {
                                opacity: 1;
                            transform: translateY(0) translateX(-50%);
                            }
                        }
                    }
                }
            }
        }
        // end of mobile

        // desktop footer
        @media (min-width: 1024px){
            color: variables.$white;
            padding: 2vh 10vw;
            .footer-logo {
                margin-bottom: 1em;
            }
            .brand-links {
                display: grid;
                ul {
                    display: flex;
                    justify-content: space-between;
                    margin: .5em auto;

                    li {
                        list-style: none;
                        margin: .5em 4em .5em 0;
                        cursor: pointer;
                        position: relative;
                        // links underline and hover
                        &::before {
                            content:'';
                            position: absolute;
                            bottom: -.5em;
                            width: 50%;
                            left: 50%;
                            transform: translateX(-50%) translateY(.5em);
                            height: 2px;
                            background-color: variables.$white;
                            transition: .5s ease;
                            opacity: 0;
                        }
                        &:hover {
                            transition: .5s;
                            transform: scale(1.15);
                            &::before {
                                opacity: 1;
                                transform: translateX(-50%) translateY(-100%);
                            }
                        }
                        // end of links underline and hover
                    }
                }
            }
            // desktop social links
            .social-links {
                display: grid;
                ul {
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;
                    margin-bottom: 1em;

                    li {
                        list-style:none;
                        margin: 1em 0 1em 1em;
                        position: relative;
                        cursor: pointer;
                        // links underline and hover
                        &::before {
                            content:'';
                            position: absolute;
                            bottom: -.2em;
                            width: 100%;
                            left: 50%;
                            transform: translateX(-50%) translateY(.5em);
                            height: 2px;
                            background-color: variables.$white;
                            transition: .5s ease;
                            opacity: 0;
                        }
                        &:hover {
                            transition: .5s;
                            transform: scale(1.2);
                            &::before {
                                opacity: 1;
                                transform: translateX(-50%) translateY(-100%);
                            }
                        }
                        // end of links underline and hover
                    }
                }
                
                p {
                    display: flex;
                    justify-content: flex-end;
                    color: variables.$gray;
                    margin-bottom: .3em;

                    a {
                        color: variables.$white;
                        text-decoration: none;
                        position: relative;

                        &::before {
                            content: '';
                            position: absolute;
                            bottom: 0;
                            left: 50%;
                            transform: translateX(-50%) translateY(.5em);
                            width: 50%;
                            height: 1px;
                            background-color: variables.$white;
                            transition: .5s ease;
                            opacity: 0;
                        }
                        &:hover {
                            &::before {
                                opacity: 1;
                                transform: translateX(-50%) translateY(0);
                            }
                        }
                    }
                }
            }
            // end of desktop social links
        }
        // end of desktop footer
    }